---
import { fade } from 'astro:transitions'
import Layout from '@/layouts/Layout.astro'
import { Button, buttonVariants } from '@/components/ui/button'
import { cn } from '@/lib/utils'
import ContactForm from '@/components/ContactForm'
import heroBanner from '@/assets/hero-banner.jpg'
import LatestSingleSection from '@/components/LatestSingleSection.astro'
---

<Layout>
  <section
    class="flex flex-col items-center justify-center gap-4 min-h-[calc(100vh-20rem)] p-2 px-6 py-8 sm:py-20 sm:px-10 relative"
  >
    <div
      class="absolute inset-0 bg-cover bg-center bg-fixed opacity-50 z-0"
      style={`background-image: url('./hero-banner.jpg');`}
    >
    </div>
    <div class="relative z-10">
      <img src="/logo-valkoinen.png" alt="Pineland Moor Logo" transition:name="title" width="500" height="200" />
    </div>
  </section>

  <section
    id="about"
    class="flex flex-col items-center justify-center gap-4 p-2 px-6 py-8 sm:py-20 sm:px-10 relative bg-card"
  >
    <div class="flex flex-col max-w-3xl gap-6">
      <p class="typo-p">
        Pineland Moor is a melodic metal quartet emerging from Finland, formed in 2023 by three brothers and their
        childhood friend. All members bring years of experience from various bands, some of which they had already
        shared stages in before, but Pineland Moor marks the first time all four finally came together in the same
        project.
      </p>
      <p class="typo-p">
        The band's name is a creative twist of the official title of the brothers’ centuries-old family estate, a place
        that has long been a backdrop for their lives and a source of inspiration. That sense of heritage and belonging
        carries into the music, where melodic metal meets a touch of progressive elements.
      </p>
      <p class="typo-p">
        The band envisions Pineland Moor as a safe haven where they and their listeners can escape from this realm. Join
        us at the metallic backyard party under neon lights!
      </p>
    </div>
  </section>

  <LatestSingleSection
    sectionId="evolve-resolve"
    title="Evolve! Resolve! is out now!"
    description="Listen to our latest single on all streaming platforms! Released on April 10th, 2026."
    imageSrc="cover-pineland-moor.jpg"
    spotifyUrl="https://open.spotify.com/track/2s9bI7Kx4orgBWdw7vcfQo?si=fTzvfpWJR8-fNhI7mcMGkQ"
    alt="Pineland Moor Single Cover"
    cardStyle="bg-card"
    buttonText="Listen on Spotify"
  />

  <!-- <LatestSingleSection
    sectionId="floating-on-unknown"
    title="Floating on Unknown is out now!"
    description="Listen to our latest single on all streaming platforms! Released on October 23rd"
    imageSrc="cover-pineland-moor.jpg"
    spotifyUrl="https://open.spotify.com/track/5TyYk3lbFQfFOCKj6ykgcE?si=Om_677CoTkinVBxlo3pJIA"
    alt="Pineland Moor Single Cover"
    cardStyle="bg-card"
    buttonText="Listen on Spotify"
  /> -->

  <section
    id="music-video"
    class="flex flex-col items-center justify-center gap-4 p-2 px-6 py-8 sm:py-20 sm:px-10 relative"
  >
    <div class="flex flex-col max-w-3xl gap-6 w-full items-center">
      <h2 class="typo-h2">Resistance Music Video</h2>

      <iframe
        class="rounded-lg shadow-2xl border-none aspect-video w-full"
        width="auto"
        height="auto"
        src="https://www.youtube.com/embed/bog88OpQ-gw?si=MJ7zZmsSz2m-pSE9"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
  </section>

  <section
    id="music"
    class="bg-card flex flex-col items-center justify-center gap-4 p-2 px-6 py-8 sm:py-20 sm:px-10 relative"
  >
    <div class="flex flex-col max-w-3xl gap-6 w-full items-center">
      <h2 class="typo-h2">Give Us a Follow</h2>

      <iframe data-testid="embed-iframe" class="rounded-xl" src="https://open.spotify.com/embed/album/3GLFah2a2bUv41GM1yztFX?utm_source=generator" width="100%" height="420"  allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
  </section>

  <section id="contact" class="flex flex-col items-center justify-center gap-4 min-h-[calc(100vh-20rem)]">
    <h1 transition:name="title" class="typo-h1">Get In Touch</h1>

    <p class="typo-p">Send us a message and we'll get back to you soon!</p>
    <ContactForm client:load />
  </section>
</Layout>
